{{- define "trilium.hardcodedValues" -}}
global:
  nameOverride: api


controllers:
  trilium:
    initContainers:
      fixperms:
        image:
          repository: busybox
          tag: latest
        args: ["sh", "-c", "chown -R 1000:1000 /home/node/trilium-data"]   
    containers:
      trilium:
        image:
          repository: zadam/trilium
          tag: 0.63.6
          pullPolicy: IfNotPresent

        probes:
          startup:
            enabled: true
            custom: true
            type: TCP
            spec:
              initialDelaySeconds: 45  # Time to wait before starting the probe
              periodSeconds: 10        # How often to perform the probe
              timeoutSeconds: 5        # Number of seconds after which the probe times out
              failureThreshold: 10     # Number of times to try the probe before giving up
              httpGet: &probesPath
                path: /login
                port: 8080
          readiness: &probes
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 5   # Time to wait before starting the probe after startup probe succeeds
              periodSeconds: 20        # How often to perform the probe
              timeoutSeconds: 10       # Number of seconds after which the probe times out
              failureThreshold: 3      # Number of times to try the probe before considering the container not ready
              httpGet: *probesPath

          liveness: *probes



persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    size: 20Gi
    retain: true
    # Since it's SQLite, the PVC should only be RWO
    accessMode: ReadWriteOnce
    advancedMounts:
      trilium: # controller
        trilium: # container
          - path: /home/node/trilium-data

service:
  main:
    controller: trilium
    enabled: true
    ports:
      http:
        # What port the cluster is listening on
        port: 8080
        # What port the container is listening on
        targetPort: 8080

{{ end }}



{{- $ctx := deepCopy . -}}
# Merge with ALL the values in `values.yaml`
{{- $_ := mergeOverwrite .Values $ctx.Values -}}
{{- $_ = include "trilium.hardcodedValues" . | fromYaml | merge $ctx.Values -}}
{{- include "bjw-s.common.loader.all" $ctx }}
